.dot-s {
    width: 4px;
    height: 4px;
    animation: opacity 1.5s infinite, sEllipsis 1.5s infinite;
}

.dot-m {
    width: 8px;
    height: 8px;
    animation: opacity 1.5s infinite, mEllipsis 1.5s infinite;
}

.dot::after {
  margin: 2px;
  display: inline-block;
  content: "";
  border-radius: 50%;
  background-color: var(--color-secondary-50);
}

@keyframes opacity {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes mEllipsis {
    0% {
        width: 8px;
        height: 8px;
    }
    50% {
        width: 12px;
        height: 12px;
    }
    100% {
        width: 8px;
        height: 8px;
    }
}

@keyframes sEllipsis {
    0% {
        width: 4px;
        height: 4px;
    }
    50% {
        width: 6px;
        height: 6px;
    }
    100% {
        width: 4px;
        height: 4px;
    }
}

.loaderWrapper span:nth-child(2)::after {
    animation-delay: 0.2s;
}

.loaderWrapper span:nth-child(3)::after {
    animation-delay: 0.4s;
}