:root {
	/* Colors */
	--color-dark: #323e48;
	--color-light: #ffffff;

	/* Primary */
	--color-primary-90: #081c15;
	--color-primary-80: #1b4332;
	--color-primary-70: #2d6a4f;
	--color-primary-60: #40916c;
	--color-primary-50: #52b788;
	--color-primary-40: #74c69d;
	--color-primary-30: #95d5b2;
	--color-primary-20: #b7e4c7;
	--color-primary-10: #d8f3dc;

	/* Secondary */
	--color-secondary-100: #323e48;
	--color-secondary-90: #404f5c;
	--color-secondary-80: #4e6170;
	--color-secondary-70: #6a8398;
	--color-secondary-60: #92a5b4;
	--color-secondary-50: #a6b5c2;
	--color-secondary-40: #bbc6cf;
	--color-secondary-30: #cfd7dd;
	--color-secondary-20: #e3e7eb;
	--color-secondary-10: #f7f8f9;

	/* Error */
	--color-error-90: #b02b0c;
	--color-error-70: #f04d29;
	--color-error-40: #f9b8a9;
	--color-errory-20: #feefec;

	/* Success */
	--color-success-90: #4a8700;
	--color-success-70: #77cb10;
	--color-success-40: #c8f68f;
	--color-success-20: #effcde;

	/* Warning */
	--color-warning-90: #bb8b00;
	--color-warning-70: #ffbe00;
	--color-warning-40: #ffdc77;
	--color-warning-20: #fff2cc;

	/* Info */
	--color-info-90: #007199;
	--color-info-70: #12a8dd;
	--color-info-40: #86dfff;
	--color-info-20: #e9f9ff;

	/* Accent */
	--color-accent-90: #3e3094;
	--color-accent-70: #6351ce;
	--color-accent-40: #aca0f3;
	--color-accent-20: #e1dcfb;

	/* Radius */
	--radius-square: 4px;
	--radius-round: 12px;
	--radius-circle: 50%;

	/* Spacing */
	--space-xxl: 32px;
	--space-xl: 24px;
	--space-l: 20px;
	--space-m: 16px;
	--space-s: 12px;
	--space-xs: 8px;
	--space-xxs: 4px;

	/* Font Family */
	--font-family: Tahoma, sans-serif;

	/* Font Size */
	--font-size-heading-1: 40px;
	--font-size-heading-2: 32px;
	--font-size-heading-3: 24px;
	--font-size-body-xl: 18px;
	--font-size-body-l: 16px;
	--font-size-body-m: 14px;
	--font-size-body-s: 12px;
	--font-size-body-xs: 10px;

	/* Font Weight */
	--font-weight-regular: 400;
	--font-weight-bold: 700;
}
