.spinner {
	color: inherit;

	animation: 1s linear 0s normal none infinite running loader;
	-webkit-animation: 1s linear 0s normal none infinite running loader;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/** Sizes */
.small {
	width: var(--space-m);
	height: var(--space-m);
}

.medium {
	width: var(--space-xl);
	height: var(--space-xl);
}

.large {
	width: var(--space-xxl);
	height: var(--space-xxl);
}

.xlarge {
	width: var(--size-control-l);
	height: var(--size-control-l);
}
