/* Base */
.radioButtonWrapper {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}

.imageAndLabelWrapper {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: inherit;
}

.labelSideLeft {
	flex-direction: row-reverse;
}

.radioButton {
	appearance: none;
	outline: none;
	border-radius: 50%;
	border: thin solid var(--color-secondary-50);
	background-color: var(--color-secondary-10);
	position: relative;
	padding: 0;
	margin: 0;
}

/* Size */
.radioButton-s {
	min-width: 18px;
	min-height: 18px;
}

.radioButton-m {
	min-width: 24px;
	min-height: 24px;
}

.image-m {
	width: 48px;
	height: 48px;
}

.image-s {
	width: 32px;
	height: 32px;
}

/* States */
.radioButton:checked {
	border-color: var(--color-primary-60);
	background-color: var(--color-primary-60);
}

.radioButton:checked::before {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--color-secondary-10);
}

.radioButton:hover {
	border-color: var(--color-primary-60);
}

.radioButton:active {
	border-color: var(--color-primary-80);
}

.radioButton:checked:hover {
	background-color: var(--color-primary-70);
	border-color: var(--color-primary-70);
}

.radioButton:checked:active {
	background-color: var(--color-primary-80);
	border-color: var(--color-primary-80);
}

/* Disabled */
.radioButtonWrapper:has(.radioButton:disabled) {
	cursor: default;
	color: var(--color-secondary-40);
}

.radioButtonWrapper:has(.radioButton:disabled) .image {
	opacity: 0.5;
}

.radioButton:disabled {
	background-color: var(--color-secondary-20);
	border-color: var(--color-secondary-40);
}

.radioButton:checked:disabled,
.radioButton:disabled {
	background-color: var(--color-secondary-30);
	border-color: var(--color-secondary-40);
}

/* Status */
.radioButton-error {
	border-color: var(--color-error-70);
}

.radioButton-error:checked {
	background-color: var(--color-error-70);
	border-color: var(--color-error-70);
}

.radioButton-error:hover {
	border-color: var(--color-error-90);
}

.radioButton-error:checked:hover {
	background-color: var(--color-error-90);
	border-color: var(--color-error-90);
}

.radioButton-success {
	border-color: var(--color-success-70);
}

.radioButton-success:checked {
	background-color: var(--color-success-70);
	border-color: var(--color-success-70);
}

.radioButton-success:hover {
	border-color: var(--color-success-90);
}

.radioButton-success:checked:hover {
	background-color: var(--color-success-90);
	border-color: var(--color-success-90);
}

.radioButton-warning {
	border-color: var(--color-warning-70);
}

.radioButton-warning:checked {
	background-color: var(--color-warning-70);
	border-color: var(--color-warning-70);
}

.radioButton-warning:hover {
	border-color: var(--color-warning-90);
}

.radioButton-warning:checked:hover {
	background-color: var(--color-warning-90);
	border-color: var(--color-warning-90);
}

.radioButton-info {
	border-color: var(--color-info-70);
}

.radioButton-info:checked {
	background-color: var(--color-info-70);
	border-color: var(--color-info-70);
}

.radioButton-info:hover {
	border-color: var(--color-info-90);
}

.radioButton-info:checked:hover {
	background-color: var(--color-info-90);
	border-color: var(--color-info-90);
}

.radioButton-accent {
	border-color: var(--color-accent-70);
}

.radioButton-accent:checked {
	background-color: var(--color-accent-70);
	border-color: var(--color-accent-70);
}

.radioButton-accent:hover {
	border-color: var(--color-accent-90);
}

.radioButton-accent:checked:hover {
	background-color: var(--color-accent-90);
	border-color: var(--color-accent-90);
}
